# Criação de banco de dados

In [5]:
# importando bibliotecas

import pandas as pd
import sqlalchemy
import sqlite3

In [6]:
# função para executar as queries

def import_query(path):
    with open(path,'r') as open_file:
        query = open_file.read()
    return query

In [7]:
# carregar os csvs em df

marca_df = pd.read_csv('csv\marcas_fipe.csv')
modelos_df = pd.read_csv('csv\modelos_fipe.csv')
anos_modelos_marcas = pd.read_csv('csv\\anos_modelos_fipe.csv')
codigo_fipe_modelos_marcas = pd.read_csv('csv\modelos_codigo_fipe.csv')
precos_ano_modelo_marca = pd.read_csv('csv\price_history.csv')

In [8]:
# conectar ao banco de dados

conn = sqlite3.connect('fipe.db')

In [9]:
# salvar os df como tabelas no banco

marca_df.to_sql('marca_fipe',conn,if_exists='replace',index=False)
modelos_df.to_sql('modelos_fipe',conn,if_exists='replace',index=False)
anos_modelos_marcas.to_sql('ano_modelos_marcas',conn,if_exists='replace',index=False)
codigo_fipe_modelos_marcas.to_sql('codigo_fipe_modelos_marcas',conn,if_exists='replace',index=False)
precos_ano_modelo_marca.to_sql('precos_ano_modelo_marca',conn,if_exists='replace',index=False)

82953

In [10]:
# verificando tabelas

query_tables = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query_tables, conn)
tables

                         name
0     preços_ano_modelo_marca
1                  marca_fipe
2                modelos_fipe
3          ano_modelos_marcas
4  codigo_fipe_modelos_marcas
5     precos_ano_modelo_marca

In [11]:
# trazendo queries em dataframes que serão utilizados

query_marca_modelo_ano = import_query('queries\marca_modelo_ano.sql')
df_marca_modelo_ano = pd.read_sql_query(query_marca_modelo_ano,conn)
df_marca_modelo_ano.to_csv('df_power_bi\df_marca_modelo_ano.csv',index=False)



query_history = import_query('queries\history.sql')
df_history = pd.read_sql_query(query_history,conn)
df_history.to_csv('df_power_bi\df_history.csv',index=False)